body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 2.3rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 0.9rem;
}

.h2-spacing{
    padding-bottom: 30px;
    font-size: 2.5rem;
}



/* BACKGROUND VARI */

.background-hero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.background-returnal{
    background-image: url(../img/jumbo-bg.png);
    padding-top: 250px;
}

.background-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding-top: 50px;
}

.background-psplus{
    background-color: #BEBCBB;
}

.background-psnow{
    background-color: #161c3b;
}

.background-footer{
    background-color: #00439c;
}

.col{
    position: relative;
}


/* TESTI */

.text-footer{
    font-size: 0.9rem;
}

.navbar-light .navbar-nav .nav-link, .nav-link{
    color: #000000;
    font-weight: bold;
}

.subtitle{
    color: #727272;
}

.text-light_blue{
    color:#0072ce;
    font-weight: bold;
}

.list-footer{
    list-style: none;
}

.list-footer li{
    padding-top: 6px;
    padding-bottom: 6px;
}

.list-footer li a{
    color: white;
    text-decoration: none;
}

/* SPACING */

.section-padding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-margin{
    margin-top: 50px;
    margin-bottom: 50px;    
}

/* BOTTONI */

.btn-psplus{
    background-color: #D9DADC;
    color: #2d64e6;
    font-weight: bold;
}

.btn-accedi{
    background-color: #363636;
    color: white;
}

/* IMMAGINI */

.img-fluid.py-2, .card-img{
    border-radius: 1.5rem;
}

.img-fluid.py-2{
    transition: 0.3s;
}

.globe-language{
    width: 30px;
    padding-right: 5px;
}

.sie-img{
    width: 150px;
    padding-right: 20px;
}


.chevron-nav{
    width: 10px;
}

.card-img::before{
    content: "";
    height: calc(100% - 4px);
    width:calc(100% - 10px);
    position: absolute;
    top: 2px;
    left: 5px;
    border: 2px solid blue;
    border-radius: 1.5rem;
    transition: 0.3s;
} 

/* ANIMAZIONI */

.navbar-light .navbar-nav .nav-link:focus, .nav-link:focus{
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover, .nav-link:hover{
    color: rgba(0,114,206);
}

.card-img:hover:before{
    transform: translateY(-1.2rem);
}

.img-fluid.py-2:hover{
    transform: translateY(-1.2rem);
}
